## INWEB — OpenLiteSpeed configuration
## Rendered at first-run by AssetInstaller.
##
## Placeholders:  __BIND__ __PORT__ __DOCROOT__ __PHP_FPM__ __LOGDIR__
##                __LSWS_SERVERROOT__ __LSWS_LOGDIR__ __LSWS_TMPDIR__

serverName                inweb
adminEmails               root@localhost
user                      nobody
group                     nobody
priority                  0
inMemBufSize              60M
swappingDir               __LSWS_TMPDIR__
autoRestart               1
gracefulRestartTimeout    300

errorlog __LSWS_LOGDIR__/lsws_error.log {
    logLevel              INFO
    debugLevel            0
    rollingSize           10M
    enableStderrLog       1
}

accesslog __LSWS_LOGDIR__/lsws_access.log {
    rollingSize           10M
    keepDays              14
    compressArchive       1
    logFormat             "%h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\""
}

listener http {
    address               __BIND__:__PORT__
    secure                0
    map                   inwebVh *
}

virtualhost inwebVh {
    vhRoot                __DOCROOT__/
    configFile            __LSWS_SERVERROOT__/conf/vhconf.conf
    allowSymbolLink       1
    enableScript          1
    restrained            0
}

# ---- External PHP-FPM app (LiteSpeed talks LSAPI OR FastCGI) ----
extprocessor phpfpm {
    type                  fcgi
    address               __PHP_FPM__
    maxConns              5
    initTimeout           30
    retryTimeout          0
    persistConn           1
    respBuffer            0
    autoStart             0
    envType               0
}

scripthandler {
    add                   fcgi:phpfpm php
}
